* {
    padding: 10px;
    margin-left: 100px;
    margin-bottom: 60px;
    background-color: rgb(255, 113, 231);
    align-items: center;
    border: 3px dotted darkmagenta;
}

a {
    font-size:larger;
}