* {
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(117, 9, 9);
    background-color: rgb(177, 235, 255);
}


h3, h2 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(58, 120, 58);
}

img{
    max-width: 60%;
    max-height: 50%;
    border: 8px solid black;
    }
    img:hover{
        max-width: 60%;
        max-height: 50%;
        border: 8px solid black;
        /*make pic round*/
        border-radius: 50%;

        }

a {
    padding: 2px;
    margin: 5px;
    border: none;
}

.images {
    padding-left: 60px;
    align-items: center;
}

.next {
    align-items: center;
    border: 2px solid black;
}

ol {
    color: blueviolet;
}

ul {
    color: rgb(206, 0, 93);
}

a {
    font-size:larger;
}