* {
    padding: 10px;

    margin: 10px;
    border: 1px solid rgb(117, 9, 9);
    background-color: rgb(177, 235, 255);
}


h2 {
    text-align: center;
}

img{
    max-width: 60%;
    max-height: 50%;
    }

.images {
    padding-left: 60px;
    align-items: center;
}